button:hover > img{

        content: url("../imagenes/img_AmpliarInfo_alt.png");
}
button + button:hover > img{
        content: url("../imagenes/img_modificar_alt.png");
    
}

table tr:nth-child(odd){
    background-color: black;
}
table tr:nth-child(even){
    background-color: blue;
}