@font-face {
  font-family: "Afacad";
  src: url(../fuentes/AfacadFlux-VariableFont_slnt\wght.ttf);
}
* {
  font-family: "Afacad", arial, "Times New Roman";
  color: #157A6E;
}
body {
  background: rgb(119, 178, 140);
  background: linear-gradient(
    270deg,
    rgba(119, 178, 140, 1) 0%,
    rgba(194, 197, 187, 1) 7%
  );
}

nav a,
nav a:visited,
.migas a {
    
    text-decoration: none;
    margin: auto;
    padding-top: 10px;
    color: #157A6E;
    width: 10rem;
    height: 2rem;
    text-align: center;
}


nav a:hover, .migas a:hover {
    background: rgba(119, 178, 140, 1);

    color:#B4654A;


}


nav {
  width: 100%;
  display: flex;
  justify-content: center;
  
}

footer {
  position: absolute;
  bottom: 0;
}
