#logo{
    width:150px;
}
.color{
    width: 25px;
    height: 25px;
    display: inline-block
}


p.icons{
    display:none;
}
button:hover,td:hover{

    img#amp{
        content: url("../../imagenes/img_AmpliarInfo_alt.png");
    }

    img#mod{
        content: url("../../imagenes/img_modificar_alt.png");
    }
    button.icons + p.icons{
        display : inline;
    }

}


#Ash_gray{
    background-color: #C2C5BB;

}
#Brown_sugar{
    background-color: #B4654A;

}
#Cambridge_blue{
    background-color: #77B28C;
}   

#PineGreen{
    background-color: #157A6E;
}

#Shamrock_green{
    background-color: #499F68;
}
#hover:hover{
    color : #157A6E
}
#active:active{
    color: #77B28C;

}
#focus:focus{
    display: block;
    width: 50px;
    height: 50px;
    background: linear-gradient(131deg, rgba(119,178,140,1) 0%, rgba(73,159,104,1) 47%, rgba(21,122,110,1) 100%);
}